<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.useaapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.USEAAPP"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">
        <activity
            android:name=".guest.guest_program.GuestDetailProgram"
            android:exported="false" />
        <activity
            android:name=".guest.guest_program.GuestProgram"
            android:exported="false" />
        <activity
            android:name=".guest.guest_login.GoogleAuthenticationClass"
            android:exported="false" />
        <activity
            android:name=".student.student_schedule.StudentSchedule"
            android:exported="false" />
        <activity
            android:name=".student.student_score.Detail_score_s1s2.ScoreDetail"
            android:exported="false" />
        <activity
            android:name=".student.student_news.NewsItemsDetail"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student.MainStudentActivity"
            android:exported="false" />
        <activity
            android:name=".student.student_profile.ProfileSetting.Legal"
            android:exported="false" />
        <activity
            android:name=".student.student_profile.ProfileSetting.About"
            android:exported="false" />
        <activity
            android:name=".student.student_login.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".student.student_profile.StudentSetting"
            android:exported="false" />
        <activity
            android:name=".student.student_profile.StudentProfile"
            android:exported="false" />
        <activity
            android:name=".student.student_score.Score.StudentScore"
            android:exported="false" />
        <activity
            android:name=".student.student_feedback.StudentFeedback"
            android:exported="false" />
        <activity
            android:name=".student.student_studyPlan.StudentStudyPlan"
            android:exported="false" />
        <activity
            android:name=".student.student_attendance.StudentAttendance"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".guest.MainGuestActivity"
            android:exported="false" />
        <activity
            android:name=".guest.guest_login.GuestLogin"
            android:exported="false" />
        <activity
            android:name=".guest.guest_events.GuestEvent"
            android:exported="false" />
        <activity
            android:name=".guest.guest_registration.GuestRegistration"
            android:exported="false" />
        <activity android:name=".guest.guest_scholarship.GuestScholarship"
            android:exported="false"/>
        <activity android:name=".guest.guest_scholarship.Detail_guest_scholarship"
            android:exported="false"/>
        <activity android:name=".guest.guest_career.GuestCareer"
            android:exported="false"/>
        <activity android:name=".guest.guest_career.Detail_guest_career"
            android:exported="false"/>
    </application>

</manifest>