<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.useaapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.USEAAPP"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">
        <activity
            android:name=".GUEST.More.faq.Detail_guest_faq_more"
            android:exported="false" />
        <activity
            android:name=".GUEST.More.about_us.Detail_guest_about_us_more"
            android:exported="false" />
        <activity
            android:name=".GUEST.Program.GuestDetailProgram"
            android:exported="false" />
        <activity
            android:name=".GUEST.Program.GuestProgram"
            android:exported="false" />
        <activity
            android:name=".GUEST.Login.GoogleAuthenticationClass"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Schedule.StudentSchedule"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Score.Detail_score_s1s2.ScoreDetail"
            android:exported="false" />
        <activity
            android:name=".STUDENT.News.NewsItemsDetail"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".STUDENT.MainStudentActivity"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Profile.ProfileSetting.Legal"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Profile.ProfileSetting.About"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Login.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Profile.StudentSetting"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Profile.StudentProfile"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Score.Score.StudentScore"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Feedback.StudentFeedback"
            android:exported="false" />
        <activity
            android:name=".STUDENT.StudyPlan.StudentStudyPlan"
            android:exported="false" />
        <activity
            android:name=".STUDENT.Attendance.StudentAttendance"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".GUEST.MainGuestActivity"
            android:exported="false" />
        <activity
            android:name=".GUEST.Login.GuestLogin"
            android:exported="false" />
        <activity
            android:name=".GUEST.Events.GuestEvent"
            android:exported="false" />
        <activity
            android:name=".GUEST.Registration.GuestRegistration"
            android:exported="false" />
        <activity
            android:name=".GUEST.Scholarship.GuestScholarship"
            android:exported="false" />
        <activity
            android:name=".GUEST.Scholarship.Detail_guest_scholarship"
            android:exported="false" />
        <activity
            android:name=".GUEST.Career.GuestCareer"
            android:exported="false" />
        <activity
            android:name=".GUEST.Career.Detail_guest_career"
            android:exported="false" />
    </application>

</manifest>